Repository willhallonline/docker-ansible: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-alpine-312, build-alpine-313, build-alpine-314, build-alpine-315, build-ubuntu-1804, build-ubuntu-2004, build-centos-7, build-rockylinux-8, build-debian-stretch, build-debian-buster, build-debian-bullseye, build-ansible-2.12

build-alpine-312:
  stage: build
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.9-alpine-3.12" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.9-alpine-3.12" -t "$CI_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.12" -t "$DOCKER_HUB_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.12" --build-arg ANSIBLE_VERSION_ARG=${ANSIBLE_29} ansible/alpine312/
  ...

build-alpine-313:
  stage: build
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.9-alpine-3.13" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.9-alpine-3.13" -t "$CI_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.13" -t "$DOCKER_HUB_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.13" --build-arg ANSIBLE_VERSION_ARG=${ANSIBLE_29} ansible/alpine313/
  ...

build-alpine-314:
  stage: build
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.9-alpine-3.14" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.9-alpine-3.14" -t "$CI_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.14" -t "$DOCKER_HUB_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.14" --build-arg ANSIBLE_VERSION_ARG=${ANSIBLE_29} ansible/alpine314/
  ...

build-alpine-315:
  stage: build
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.9-alpine-3.15" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.9-alpine-3.15" -t "$CI_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.15" -t "$DOCKER_HUB_REGISTRY_IMAGE:$ANSIBLE_29-alpine-3.15" --build-arg ANSIBLE_VERSION_ARG=${ANSIBLE_29} ansible/alpine315/
  ...

build-ubuntu-1804:
  stage: build
  script:
  ...

build-ubuntu-2004:
  stage: build
  script:
  ...

build-centos-7:
  stage: build
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.9-centos-7" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.9-centos-7" -t "$CI_REGISTRY_IMAGE:$ANSIBLE_29-centos-7" -t "$DOCKER_HUB_REGISTRY_IMAGE:$ANSIBLE_29-centos-7" --build-arg ANSIBLE_VERSION_ARG=${ANSIBLE_29} ansible/centos7/
  ...

build-rockylinux-8:
  stage: build
  script:
  ...

build-debian-stretch:
  stage: build-dev
  allow_failure: true
  script:
  ...

build-debian-buster:
  stage: build
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.9-buster" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.9-buster" -t "$CI_REGISTRY_IMAGE:$ANSIBLE_29-buster" -t "$DOCKER_HUB_REGISTRY_IMAGE:$ANSIBLE_29-buster" --build-arg ANSIBLE_VERSION_ARG=${ANSIBLE_29} ansible/debian-buster/
  ...

build-debian-bullseye:
  stage: build
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.9-bullseye" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.9-bullseye" -t "$CI_REGISTRY_IMAGE:$ANSIBLE_29-bullseye" -t "$DOCKER_HUB_REGISTRY_IMAGE:$ANSIBLE_29-bullseye" --build-arg ANSIBLE_VERSION_ARG=${ANSIBLE_29} ansible/debian-bullseye/
  ...

build-ansible-2.12:
  stage: build-212
  allow_failure: true
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE:2.12-ubuntu-18.04" -t "$DOCKER_HUB_REGISTRY_IMAGE:2.12-ubuntu-18.04" --build-arg ANSIBLE_VERSION_ARG=2.12.2 ansible-core/ubuntu1804/
  ...

Prep after merge for v4.2.0
  CHANGELOG.md
  README.md
Due: none

Remediate issue with ansible lint upgrading version
  ansible-base/alpine312/Dockerfile
  ansible-base/alpine313/Dockerfile
  ansible-base/alpine314/Dockerfile
  ansible-base/alpine315/Dockerfile
  ansible-base/alpine316/Dockerfile
  ansible-base/centos7/Dockerfile
  ansible-base/debian-bullseye-slim/Dockerfile
  ansible-base/debian-bullseye/Dockerfile
  ansible-base/debian-buster-slim/Dockerfile
  ansible-base/debian-buster/Dockerfile
  ansible-base/debian-stretch-slim/Dockerfile
  ansible-base/debian-stretch/Dockerfile
  ansible-base/rocky8/Dockerfile
  ansible-base/ubuntu1804/Dockerfile
  ansible-base/ubuntu2004/Dockerfile
  ansible-base/ubuntu2204/Dockerfile
  ansible/alpine312/Dockerfile
  ansible/alpine313/Dockerfile
  ansible/alpine314/Dockerfile
  ansible/alpine315/Dockerfile
  ansible/alpine316/Dockerfile
  ansible/centos7/Dockerfile
  ansible/debian-bullseye-slim/Dockerfile
  ansible/debian-bullseye/Dockerfile
  ansible/debian-buster-slim/Dockerfile
  ansible/debian-buster/Dockerfile
  ansible/debian-stretch-slim/Dockerfile
  ansible/debian-stretch/Dockerfile
  ansible/rocky8/Dockerfile
  ansible/ubuntu1804/Dockerfile
  ansible/ubuntu2004/Dockerfile
  ansible/ubuntu2204/Dockerfile
Due: build-alpine-312, build-alpine-313, build-alpine-314, build-alpine-315, build-ubuntu-1804, build-ubuntu-2004, build-centos-7, build-rockylinux-8, build-debian-stretch, build-debian-buster, build-debian-bullseye

Issue when naming ansible_core into 2.10 and 2.9
  .gitlab-ci.yml
  ansible-base/alpine312/Dockerfile
  ansible-base/alpine313/Dockerfile
  ansible-base/alpine314/Dockerfile
  ansible-base/alpine315/Dockerfile
  ansible-base/alpine316/Dockerfile
  ansible-base/centos7/Dockerfile
  ansible-base/debian-bullseye-slim/Dockerfile
  ansible-base/debian-bullseye/Dockerfile
  ansible-base/debian-buster-slim/Dockerfile
  ansible-base/debian-buster/Dockerfile
  ansible-base/debian-stretch-slim/Dockerfile
  ansible-base/debian-stretch/Dockerfile
  ansible-base/rocky8/Dockerfile
  ansible-base/ubuntu1804/Dockerfile
  ansible-base/ubuntu2004/Dockerfile
  ansible-base/ubuntu2204/Dockerfile
  ansible/alpine312/Dockerfile
Due: build-alpine-312, build-alpine-313, build-alpine-314, build-alpine-315, build-ubuntu-1804, build-ubuntu-2004, build-centos-7, build-rockylinux-8, build-debian-stretch, build-debian-buster, build-debian-bullseye

Update variables for ansible 2.9
  .gitlab-ci.yml
  ansible/alpine312/Dockerfile
  ansible/alpine313/Dockerfile
  ansible/alpine314/Dockerfile
  ansible/alpine315/Dockerfile
  ansible/alpine316/Dockerfile
  ansible/centos7/Dockerfile
  ansible/debian-bullseye-slim/Dockerfile
  ansible/debian-bullseye/Dockerfile
  ansible/debian-buster-slim/Dockerfile
  ansible/debian-buster/Dockerfile
  ansible/debian-stretch-slim/Dockerfile
  ansible/debian-stretch/Dockerfile
  ansible/rocky8/Dockerfile
  ansible/ubuntu1804/Dockerfile
  ansible/ubuntu2004/Dockerfile
  ansible/ubuntu2204/Dockerfile
Due: build-alpine-312, build-alpine-313, build-alpine-314, build-alpine-315, build-ubuntu-1804, build-ubuntu-2004, build-centos-7, build-rockylinux-8, build-debian-stretch, build-debian-buster, build-debian-bullseye

Missed naming for ansible core version arg
  ansible-base/alpine312/Dockerfile
  ansible-base/alpine313/Dockerfile
  ansible-base/alpine314/Dockerfile
  ansible-base/alpine315/Dockerfile
  ansible-base/alpine316/Dockerfile
  ansible-base/centos7/Dockerfile
  ansible-base/debian-bullseye-slim/Dockerfile
  ansible-base/debian-bullseye/Dockerfile
  ansible-base/debian-buster-slim/Dockerfile
  ansible-base/debian-buster/Dockerfile
  ansible-base/debian-stretch-slim/Dockerfile
  ansible-base/debian-stretch/Dockerfile
  ansible-base/rocky8/Dockerfile
  ansible-base/ubuntu1804/Dockerfile
  ansible-base/ubuntu2004/Dockerfile
  ansible-base/ubuntu2204/Dockerfile
Due: build-alpine-312, build-alpine-313, build-alpine-314, build-alpine-315, build-ubuntu-1804, build-ubuntu-2004, build-centos-7, build-rockylinux-8, build-debian-stretch, build-debian-buster, build-debian-bullseye

Small fix as duplicate within 2.10 alpine 3.12
  ansible-base/alpine312/Dockerfile
Due: build-alpine-312

Release v4.2.1 - resolves #52 in GitHub.
  CHANGELOG.md
Due: none

Bump ansible package version to 6.1.0
  .gitlab-ci.yml
Due: none

Add updates to README and new version of Ansible 2.13.2
  .gitlab-ci.yml
  README.md
Due: none

Update changelog to prep for v4.2.2
  CHANGELOG.md
Due: none

Add ultimate features
  .gitlab-ci.yml
Due: none

Only build tags
  .gitlab-ci.yml
Due: none

Bump ansible-lint to latest version 6.4.0
  .gitlab-ci.yml
Due: none

Update changelog to prep for v4.2.3
  CHANGELOG.md
Due: none

Bump ansible to latest version 6.2.0
  .gitlab-ci.yml
Due: none

Bump ansible-core 2.12 to latest version 2.12.8
  .gitlab-ci.yml
Due: none

Bump ansible-core 2.13 to latest version 2.13.3
  .gitlab-ci.yml
Due: none

Added boto3 as library
  ansible-core/alpine316/Dockerfile
Due: none

Bump ansible-lint to latest version 6.5.2
  .gitlab-ci.yml
Due: none

Bump ansible package to latest version 6.3.0
  .gitlab-ci.yml
Due: none

Update changelog to prep for v4.2.4
  CHANGELOG.md
Due: none

Bump ansible-core 2.12 package to latest version 2.12.9
  .gitlab-ci.yml
Due: none

Bump ansible-core 2.13 package to latest version 2.13.4
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

Remove Alpine 3.12 as no support
  ansible-base/alpine312/Dockerfile
  ansible-core/alpine312/Dockerfile
  ansible/alpine312/Dockerfile
Due: build-alpine-312

Remove Alpine 3.13 as no support
  ansible-base/alpine313/Dockerfile
  ansible-core/alpine313/Dockerfile
  ansible/alpine313/Dockerfile
Due: build-alpine-313

Remove Debian stretch as EOL
  ansible-base/debian-stretch-slim/Dockerfile
  ansible-base/debian-stretch/Dockerfile
  ansible-core/debian-stretch-slim/Dockerfile
  ansible-core/debian-stretch/Dockerfile
  ansible/debian-stretch-slim/Dockerfile
  ansible/debian-stretch/Dockerfile
Due: build-debian-stretch

Add Alpine 3.17 as new base image OS
  ansible-base/alpine317/Dockerfile
  ansible-core/alpine317/Dockerfile
  ansible/alpine317/Dockerfile
Due: none

Add rockylinux 9 as new base OS image
  ansible-base/rocky9/Dockerfile
  ansible-core/rocky9/Dockerfile
  ansible/rocky9/Dockerfile
Due: none

Update gitlab-ci for new OS and removed OS base images
  .gitlab-ci.yml
Due: none

Path conditions:
  build-alpine-312: any of: **/alpine312/*
  build-alpine-313: any of: **/alpine313/*
  build-alpine-314: any of: **/alpine314/*
  build-alpine-315: any of: **/alpine315/*
  build-ubuntu-1804: any of: **/ubuntu1804/*
  build-ubuntu-2004: any of: **/ubuntu2004/*
  build-centos-7: any of: **/centos7/*
  build-rockylinux-8: any of: **/rocky8/*
  build-debian-stretch: any of: **/debian-stretch/*, **/debian-stretch-slim/*
  build-debian-buster: any of: **/debian-buster/*, **/debian-buster-slim/*
  build-debian-bullseye: any of: **/debian-bullseye/*, **/debian-bullseye-slim/*
  build-ansible-2.12: any of: **/ansible-core/*
